extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    section#introSection 
        div Welcome to Adnan's Dance Academy 
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission
        div.box
            div.card 
                h3 Dance Perfection
                div.cardbox 
                    div.card-img 
                        img(src='/static/img1.png')
                    
                    div.card-content 
                        p This is the best dance academy in the universe
            div.card 
                h3 Dance the way you like
                div.cardbox 
                    div.card-img 
                        img(src='/static/logo.png')
                    
                    div.card-content 
                        p This is the best dance academy in the universe
            div.card 
                h3 Expert teaching
                div.cardbox 
                    div.card-img 
                        img(src='/static/img2.png')
                    
                    div.card-content 
                        p This is the best dance academy in the universe
            div.card 
                h3 Flexible timing
                div.cardbox 
                    div.card-img 
                        img(src='/static/img3.png')
                    
                    div.card-content 
                        p This is the best dance academy in the universe

    section#sponsorSection 
        h2 Our Sponsors
        div#sponsors 
            img(src='/static/logo1.png',alt='Sponsor Imaage' , Class="spImage")
            img(src='/static/logo2.png',alt='Sponsor Imaage' , Class="spImage")
            img(src='/static/logo3.png',alt='Sponsor Imaage' , Class="spImage")

